<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="container">
       <!--ring div starts here-->
       <div id="algn">
        <div id="container">
            <p class="head">Sign Up</p>
            <form action="/signup" method="post" class="input-container">
                <input type="email" name="email" class="inpt" required placeholder="Email">
                <input type="text" name="username" class="inpt" required placeholder="Username">
                <input type="text" name="fullname" class="inpt" required placeholder="Full Name">
                <input type="password" name="password" class="inpt" required  placeholder="Password">
                <input href="btn int" type="submit" class="btn int" value="Register Account"/>

                <a value="submit" class="btn" href="/home">Sign In</a>
            </form>
            <p class="footer">Already have Account ! <a href="/login">Log In</a></p>
        </div>
        </div>
  </div>
  <!--ring div ends here-->


    </div>    
</body>
</html>